{% extends 'base.html' %}
    

{% block head_block %}
The result
{% endblock %}
    
{% block body_block %}       
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">소환사</th>
          <th scope="col">승</th>
          <th scope="col">패</th>
          <th scope="col">검색시간</th>
        </tr>
      </thead>
      <tbody>
          {% for log in logs %}
        <tr>
          <td>{{log[0]}}</td>
          <td>{{log[1]}}</td>
          <td>{{log[2]}}</td>
          <td>{{log[3][:-7]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}