<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="https://img00.deviantart.net/4902/i/2010/156/e/4/genie_icon_by_cmnixon.png" width="500" height="300"></img>
    <h1>역시 당신에겐 이머리가 최고에요!!</h1>
    <img src="https://img1.daumcdn.net/thumb/S600x434/?scode=1boon&fname=http://t1.daumcdn.net/liveboard/newsade/bdf7dd7c95b14c22b7570a0732b3dbf7.jpg" width="500" height="300"></img>
    <h1>{{starname}}는(은) 무슨 말도안되는 소리세요 고갱님 ㅎㅎ</h1>
</body>
</html>